* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;    

}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    color: #fff;    

}

#logo {
    margin-right: auto;
    color: #f9faf8;
    font-size: 24px;
}

.navbar li {
    display: inline-block;
    padding: 0 20px;
}

.section-one {
    background-color: #1f2937;
}

#first-text {
    color: #f9faf8;
    font-size: 48px;
}

#second-text {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 10px;
}

.button {
    height: 35px;
    width: 85px;
    background: #3882f6;
    border-radius: 12px;
    padding: 0 10px;
    margin-top: 10px;
}

.button p {
    padding: 8px 12px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.hero-one {
    width: 500px;
    height: 300px;
    margin: 0 auto;    
    font-weight: 700;
}

.hero-two {
    background-color: #acacac;
    color: #f9faf8;
    width: 400px;
    height: 90px;
    margin: 0 auto;
    padding: 80px 100px;
}

/* second section */

.section-two > p {
    font-size: 35px;
    font-weight: 700;
    color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

.square {
    width: 100px;
    height: 100px;
    border: 3px solid #3882f6;
    border-radius: 8px;
    margin-bottom: 10px;
}

.information {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.first-info, .second-info, .third-info, .forth-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
}

/* third section */

.section-three {
    background-color: #e5e7eb;
    padding: 100px;
}

.section-three--text > p {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.section-three--text {
    width: 900px;
    height: 200px;
    margin: 0 auto;
}

/* forth section */
.section-four {
    margin: 50px auto;
}

.alert {
    background-color: #3882f6;
    width: 700px;
    height: 100px;
    border-radius: 8px;
    margin: 0 auto;
    padding: 20px 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.alert p {
    color: #f9faf8;
}

.alert p:first-child {
    font-weight: 700;
}

.second-button {
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-radius: 8px;
    font-weight: 700;
    width: 80px;
    height: 20px;
    padding-left: 17px;
}

/* footer */

footer {
    background-color: #1f2937;
    width: auto;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #f9faf8;
    font-weight: 700;
}
